<div class="one">
    <div class="toggle">
        <div class="menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        
    </div>
    <ul class="nav">
        <li routerLink="/home">home</li>
       <li routerLink="/about">About</li>
       <li routerLink="/contact">Contact</li>
       <li routerLink="/course" class="navi">Course
            <ul class="navis">
                <li class="naviss" routerLink="/js">javascript</li>
                <li class="naviss" routerLink="/html">HTML</li>
                <li class="naviss" routerLink="/css">CSS</li>
            </ul>
       </li>
       <li class="active"  data-toggle="modal" data-target="#myModal">login</li>
       <li routerLink="/account">SignUp</li>
    </ul>
</div>

<app-login></app-login>
