<div class="container-fluid">
    <div class="box">
        <div class="address">Dashboard > Show-All-Result</div> 
        <div class="row rows">
            <div class="col-sm-12 column">
                <div class="heading">RESULT</div>
                        <div class="search">
                        <input class="form-control mb-4" id="tableSearch" type="text"
                                placeholder="Type something to search list items">
                        </div>
                <div class="table-responsive" >
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Examiner</th>
                            <th>Student Attended</th>
                            <th >Result</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr *ngFor="let p of post">
                            <td>{{p._id.examsubject}}<input type="hidden" #subnameInput value="{{p._id.examsubject}}"></td>
                            <td>{{p._id.examiner}}<input type="hidden" #examinerInput value="{{p._id.examiner}}"></td>
                            <td>{{p.count}}</td>
                            <td ><button type="submit" class="btn btn-success"  (click)="edittext(subnameInput.value,examinerInput.value)">View</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>