<div class="container-fluid">
    <div class="box">            
             <div class="address">Dashboard>Create-New-Test</div> 
                            <div class="row rows">
                                <div class="headline">
                                    <div class="one" id="one">Step1</div>
                                    <div class="one" id="two">Step2</div>
                                    <!-- <div class="one" id="three">Step3</div> -->
                                </div> 
                                <div id="3step" onclick="savestep2()"></div>
                                    <div id="2step" onclick="savestep1()"></div>
                                <div class="rows1">
                                    <div class="column" id="savestepone">
                                        <!-- <h1>Step 1</h1> -->
                                        <form action="/action_page.php" #f="ngForm">
                                            <div class="form-group">
                                                <label class="center pt-5" for="subname">Subject Name</label>
                                                <input #subnameref="ngModel" [(ngModel)]="subnameProp" (ngModelChange)="subnameProp=$event.toUpperCase()" type="text" class="form-control" id="subname" placeholder="Enter Subject Name" name="subname" (keyup)="next()">
                                            </div>
                                            <div class="form-group ">
                                                <label class="center" for="subcode">Subject Code</label>
                                                <input #subcoderef="ngModel"  [(ngModel)]="subcodeProp" type="text" class="form-control" id="subcode" placeholder="Enter Subject Code (Optional)" name="subcode">
                                            </div>
                                            <div class="form-group ">
                                                <label class="center" for="exm">Examiner Name</label>
                                                <input #examineref="ngModel" [(ngModel)]="examinerProp" (ngModelChange)="examinerProp=$event.toUpperCase()" type="text" class="form-control" id="exm" placeholder="Enter Examiner Name" name="exm" (keyup)="next()">
                                            </div>
                                        
                                            <button *ngIf="isgood" type="submit" class="btn btn-primary pl-4 pr-4" id="centeralised"  (click)="savetest()">Next</button>
                                        </form>
                                    </div>
                                
                                    <div class="column" id="savesteptwo">
                                        <!-- <h1>Step 2</h1> -->
                                        <form action="/action_page.php">
                                                <div class="form-group pt-5">
                                                    <h6 class="txt-savesteptwo">Add Questions From Question Bank</h6>
                                                    <button type="submit" class="btn btn-primary btn-savesteptwo btn-sst2" (click)="qbank()">Add Question</button>
                                                </div>
                                                <div class="form-group"><h4 class="or-savesteptwo">Or</h4></div>
                                                <div class="form-group">                                                  
                                                    <h6 class="txt-savesteptwo txt-sst">Add Question Manually</h6>
                                                    <button type="submit" class="btn btn-primary btn-savesteptwo btn-sst2" (click)="nextstep()">Add Manually</button>
                                                </div>
                                        </form>
                                    </div>
                                
                                  
                                </div>
                             </div>
        </div>
</div>