<div class="container-fluid">
    <div class="row">
       
        <div class="col-sm-4 symbol">
            <div class=contain_img></div>
        </div>
        <div class="col-sm-8 symbol">
                
                <div class="contain">
                    <div class="contain2">
                        <div class="one">
                            <div class="img1"></div>
                            <div class="textimg">Attend Online Test</div>
                        </div>
                        <div class="one">
                            <div class="img2"></div>
                            <div class="textimg">Create Test Group</div>
                        </div>
                    </div>
                    <div class="contain2">
                        <div class="one">
                            <div class="img3"></div>
                            <div class="textimg">create Q Bank</div>
                        </div>
                        <div class="one">
                            <div class="img4"></div>
                            <div class="textimg">Create Test </div>
                        </div>
                    </div>
                        <div class="one">
                            <div class="img5"></div>
                        </div>
                        <div class="one">
                            <div class="img6"></div>
                        </div>
                        <div class="one">
                            <div class="img7"></div>
                        </div>
                        <div class="one">
                            <div class="img8"></div>
                        </div>
                    
                </div>
        </div>
    </div>
</div>