
<div class="container-fluid">
    <div class="main-box">
        <div class="address">Dashboard>Question-bank>{{subname}}</div> 
        <div class="large-box">
            <div class="box" id="boxes">
                <div class="box-grid">
                
                        <div class="head">
                            <div class="heading">
                                {{subname}} Question Bank
                            </div>
                        </div>
                </div>
                <div class="box-grid">
                    <div class="table-box">
                        <table class="table table-striped box-row">
                            <!-- <thead>
                            <tr>
                            
                                <th >Option</th>
                                <th>Answer</th>
                            </tr>
                            </thead> -->
                            <tbody id="myTable" *ngFor="let p of quesid;let i=index;">
                            <tr class="tr">
                                <td>Q.{{i+1}}&nbsp;&nbsp;{{p.question}}</td>
                            </tr>
                            <tr>
                                <div class="row"  >
                                <div class="col-5 table-primary" style="border: 1px solid black;margin: 0 auto;" *ngFor="let q of p.option;let j=index;">
                                <td style="border:0 ;text-align:center;margin: 0 auto; text-align: center;">{{j+1}}.&nbsp;&nbsp;<span style="text-align: center;font-weight: bold; margin: 0 auto ;">{{q.option}}</span></td>
                                </div>
                                </div>
                            </tr>
                                                    
                                                
                            <tr class="tr table-success">
                            <td>Ans.&nbsp;&nbsp;&nbsp;&nbsp;{{p.answer}}{{p.tf}}</td>
                            </tr>
                            <tr><td></td></tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>