.container-fluid{
    width:100%;
    background-image: linear-gradient( #00c3ff,#c0c0aa);
    padding-top: 8%;
    margin-top: -17px;
    min-height: 100vh;
}
.main-box{
    padding-bottom: 10px;
   
}
.container-fluid .address{
    margin:0 auto;
    height: 10px;
    width: 77%;
  padding-bottom: 25px;
  font-weight: 600;
}
.container-fluid .large-box{
    width:90%;
    margin:0 auto;
   
}
.container-fluid .large-box .box{
    width: 100%;
   min-height: 70vh;
    background-color: white;
    display: grid;
    grid-template-rows: 10% 90%;
}
.large-box .box .box-grid{
    border-bottom: 1px solid grey;
    overflow: auto;
}
.container-fluid .box .box-grid .head{
    display: grid;
    grid-template-columns: 95% 5%;
}
.container-fluid .box .head .heading{
    text-align: center;
    /* font-size: 110%; */
    /* line-height: 30px; */
    /* font-size: 20px; */
    font-weight: bold;
    text-transform: uppercase;
   
}
.container-fluid .box .table-footer{
    padding-right: 5%;
    text-align: end;
}
.container-fluid .box .table-box{
    display: grid;
    grid-template-rows: 100%;
    grid-gap: 2px;
}
.container-fluid .box .table-box .box-row{
    height:20%;
    /* border-spacing: 0;
    border-collapse: collapse; */
    /* background-color: tomato; */
}
.table-box .box-row .tr{
    text-align: center;
    font-weight: bold;
}
@media (max-width:800px){
    .container-fluid .large-box{
        min-width: 98vw;
        margin-left: -10px;
     }
     .container-fluid .large-box .box{
         min-height: 80vh;
     }
     .container-fluid .address{
         width:425px;
         margin-left: -10px;
     }
}