<!-- <p>showdetail works!</p>
{{subname}}<br>
{{userid}} -->
<div class="container-fluid">
    <div class="box">
        <div class="heading">
            {{examsubject}}&nbsp;paper questions
        </div>
        <div class="table-box">
            <table class="table table-striped box-row" >
                <thead>
                <tr>
                    <th style="text-align: center;">Choose</th>
                    <th style="text-align: center;">Questions</th>
                    <th style="text-align: center;">Answer</th>
                    <!-- <th style="text-align: center;">Edit</th> -->
                    <!-- <th >Delete</th> -->
                </tr>
                </thead>
                <tbody id="myTable" *ngFor="let p of paperquesid;">
                <tr>
                    <td style="text-align: center;"><input type="checkbox" class="form-control-sm" style="width:20px; text-align: center;" name="options" (change)="update($event.target.checked,p)" [checked]="checked(p)"></td>
                    <td style="text-align: center;">{{p.question}}<input type="hidden" #subnameInput></td>
                    <td style="text-align: center;">{{p.answer}}{{p.tf}}</td>
                    <!-- <td style="text-align: center;"><button type="submit" class="btn btn-primary">Edit</button></td> -->
                    <!-- <td ><button type="submit" class="btn btn-danger ">Delete</button></td> -->
                </tr>
                </tbody>
            </table>

        </div>
        <div class="table-footer">
            <button type="submit" class="btn btn-success pr-5 pl-5 mr-3" (click)="addmore()">Add More</button>
            <button type="submit" class="btn btn-danger pr-5 pl-5" (click)="dltvalue()">Delete</button>
        </div>

    </div>

</div>