.container-fluid{
    width:100%;
    background-image: linear-gradient(#00c3ff,#c0c0aa);
    padding-top: 8%;
    margin-top: -17px;
    overflow: hidden;
}
.box{
    min-height: 100vh;
}
.container-fluid .address{
    margin:0 auto;
    height: 10px;
    width: 88%;
  padding-bottom: 25px;
  font-weight: 600;
}
.container-fluid .large-box{
    width:90%;
   margin: 0 auto;
}
.container-fluid .large-box .box{
    width: 100%;
    /* height: 400px; */
    min-height: 70vh;
    background-color: white;
    display: grid;
    grid-template-rows: 5vh 55vh 10vh;
}
.large-box .box .box-grid{
    border-bottom: 1px solid grey;
    overflow: auto;
}
.container-fluid .box .box-grid .head{
    display: grid;
    grid-template-columns: 95% 5%;
}
.container-fluid .box .head .heading{
    text-align: center;
    /* font-size: 110%; */
    /* line-height: 30px; */
    /* font-size: 20px; */
    font-weight: bold;
    text-transform: uppercase;
   
}
.container-fluid .box .table-footer{
    padding-right: 5%;
    text-align: end;
    overflow: hidden;
}
@media (max-width:800px){
    .container-fluid .large-box{
        margin-left: -12px;
        width: 98vw;
    }
    .container-fluid .large-box .box{
        min-height: 90vh;
        grid-template-rows: 7vh 70vh 13vh;

    }

}