<div class="ones">
    <div class="toggles">
        <div id="menus" onclick="myfunc3()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        
    </div>
    <ul id="myflex" class="navi">
        <li class ="navlinks" routerLink="/dashboard2/">Join Test</li>
       <li class ="navlinks" routerLink="/dashboard2/showqbank">Show Q Bank</li>
       <li class ="navlinks" routerLink="/dashboard2/showresult">Show Result</li>   
       <li class ="navlinks" (click)="logout()" >Logout</li>
    </ul>
</div>
 
