<div class="container-fluid">
    <div class="box">
        <div class="address">Dashboard >Question-Bank</div> 
        <div class="large-box">
            <div class="box" id="boxes">
                <div class="box-grid">
                    <div class="head">
                        <div class="heading">
                            Choose Question From Here
                        </div>
                    </div>
                </div>
                <div class="box-grid">
                    <div class="table-box">
                        <table class="table table-striped box-row" >
                            <thead>
                            <tr>
                                <th>Choose</th>
                                <th >Questions</th>
                                <th >Answer</th>
                                <th *ngIf="isedit" style="text-align: center;">Edit</th>
                                <!-- <th >Delete</th> -->
                            </tr>
                            </thead>
                            <tbody id="myTable" *ngFor="let p of quesid;">
                            <tr>
                                <td><input type="checkbox" class="form-control-sm" style="width:20px; text-align: center;" name="options" (change)="update($event.target.checked,p)" [checked]="checked(p)"></td>
                                <td>{{p.question}}<input type="hidden" #subnameInput></td>
                                <td>{{p.answer}}{{p.tf}}</td>
                            
                                <td><button type="submit" class="btn btn-success" *ngIf="isedit">Edit</button></td>
                                <!-- <td ><button type="submit" class="btn btn-danger ">Delete</button></td> -->
                            </tr>
                            </tbody>
                        </table>

                    </div>
            </div>
                <div class="box-grid">
                    <div class="table-footer">
                        <button type="submit" class="btn btn-success pr-5 pl-5 mr-3 mt-1" (click)="choosed()">Done</button>
                        <button type="submit" class="btn btn-success pr-5 pl-5" *ngIf="isdlt">Delete</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>