/* .container-fluid{
    width:100%;
    height:737px;
    background-image: linear-gradient( #00c3ff,#c0c0aa);
    padding-top: 8%;
}
.rows{
    width:60%;
    height:500px;
    background-color: white;
   
    margin:0 auto;
    border-radius:15px;
    box-shadow: 10px 10px 10px  black;
   overflow: auto;
}
.rows .column{
    background-image: linear-gradient( #c0c0aa,#fff);
    padding-top: 20PX;
    text-align: center;
}
.rows .column1{
    padding-top: 20PX;
    text-align: center;
}


.rows .column .form1{
    margin-bottom: 5px;
    overflow: auto;
    height:125px;
}
.rows3{
    margin:0 auto;
}
.rows3 .headline{
    width:300px;
    height:35px;
    position: absolute;
   margin-left:30%;
  
   background-color: tomato;
   display: grid;
   grid-template-columns:auto auto auto ;
   grid-gap:1px;
}
.headline .one{
   
    padding-left: 27px;
    padding-top: 4px;
    margin-top: 3px;
}
#one{
border-bottom: 7px solid gold;
} */



.container-fluid{
    width:100%;
    height:657px;
    background-image: linear-gradient(#00c3ff,#c0c0aa);
    padding-top: 8%;
    margin-top: -17px;
}
.container-fluid .row1{
    width:530px;
    height: 500px;
    background-color: white;
    /* margin-left:120px; */
    margin:0 auto;
    border-radius:22px;
    box-shadow: 10px 10px 10px  black;
   /* overflow: hidden; */
}
.row1 .headline{
    display:grid;
    /* background-color: khaki; */
    width: 100%;
    height: 5%;
    grid-template-columns: 60px 60px 60px;
    grid-gap:2px;
    font-weight: 400;
    padding-left: 35%;
    text-transform: uppercase;
}
.row1 .headline .one{
    width: 100%;
    text-align: center;
   
}
.row1 .rows{
    width:100%;
    height: 95%;
    display: grid;
    grid-template-columns: 50% 100%;
    /* grid-gap: 10px; */
    overflow: hidden;
}
.row1 .rows .column{
    height: 100%;
    /* margin-left: 20px;; */
    position:relative;
    overflow:hidden;
    /* background-color: darkblue */
}

#stepone{
    left:150px;
    /* left: -400px; */
}
#steptwo{
    left:400px;
    /* left: -265px; */
}
.column .rows2{
    width:100%;
    height:95%;  
    display: grid;
    grid-template-columns:81% 19%;
    /* grid-gap:10px; */
    background-color: darkblue;
    position: relative;
    left:15px;
}
.column .rows2 .column-box{
    width: 100%;
    background-image: linear-gradient( #c0c0aa,#fff);
    padding-left: 5%;
    text-align: center;
    overflow: hidden;
    padding-right: 5%;

}
.rows2 .column-box .column-box1{
    width:100%;
    height:437px;
    display: grid;
    grid-template-rows:110px 190px 90px;
    grid-gap: 5px;
    padding-top: 5px;
}
.rows2 .column-box .column-box1 .row-box{
  background-color: lightslategray;
}


#coll{
    padding-left: 0px;
   
}

#one1{
    border-bottom: 7px solid gold;
    }