.modal{
  /* height: 480px; */
  /* width:100%;
  height: 100%;
  position: absolute; */
    animation-name: taher;
    animation-duration: 0.8s;
}
/* #btn-color{
  background-image: linear-gradient(#a770ef,#cf8bf3,#fdb99b);
}
#btn-color1{
  background-image:none;
}
.log-btn{
  margin-right: 3px;
  outline: none;
  border-radius: 20px;
}
 .modal-body{
  width:100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  
}

.modal-body .form-body{
  position: absolute;
 
  width: 100%;
  height: 100%;
  transition:0.5s;
  
}
 #teacher{
   position: absolute;
  left:10px;
  width:60%;
}
#student{
 
  position: absolute;
  left:650px;
  width:60%;
}  */
@keyframes taher{     
  0%{
      transform: translateY(-150px);
  }
  20%{
    transform: translateY(0px);
  }
  40%{
    transform: translateY(-20px);
  }
  60%{
    transform: translateY(0px);
  }
  80%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}