<div class="ones">
    <div class="toggles">
        <div id="menus" onclick="myfunc()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        
    </div>
    <ul id="myflex" class="navi">
        <li class ="navlinks" routerLink="/dashboard/">Create Test</li>
       <li class ="navlinks" routerLink="/dashboard/createqbank">Create Q Bank</li>
       <li class ="navlinks" routerLink="/dashboard/showpaper">Show Paper</li>
       <!-- <li class ="navlinks" routerLink="/dashboard/createtest" >Create Test
            <ul class="navis">
                <li class="naviss" class ="navlink" routerLink="/js">javascript</li>
                <li class="naviss" class ="navlink" routerLink="/html">HTML</li>
                <li class="naviss" class ="navlink" routerLink="/css">CSS</li>
            </ul> 
       </li> -->
       <li class ="navlinks" routerLink="/dashboard/showresult">Show Results</li>   
       <li class ="navlinks" (click)="logout()" >Logout</li>
    </ul>
</div>
 
