<div class="container-fluid">
    <div class="row rows">
        <div class="col-sm-5 column">
            <div class="row">
                <div class="col-sm-12 column3">

                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th>Examiner Name</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Total Subject Added</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary ml-5 pl-5 pr-5" (click)="goto()">Add New Subject Q Bank</button>  
                </div>
            </div>
        </div>
        <div class="col-sm-7 column4">
                    <div class="search">
                    <input class="form-control mb-4" id="tableSearch" type="text"
                            placeholder="Type something to search list items">
                    </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Subject Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td><button type="submit" class="btn btn-success pl-4 pr-4 ">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger ">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>