<div class="container-fluid">
    <div class="row rows">
        <div class="col-sm-5 column">
            <div class="row">
                <div class="col-sm-12 column3">

                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th>Examiner</th>
                                <td style="text-transform: uppercase; font-weight: bold;">{{name}}</td>
                            </tr>
                            <tr>
                                <th>Total Paper Added</th>
                                <td  style="text-transform: uppercase; font-weight: bold;">{{number}}</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <button  *ngIf="isshow" type="submit" class="btn btn-primary" (click)="gotonew()">Add New Paper</button>  
                    <button  *ngIf="ishide2" type="submit" class="btn btn-primary" (click)="goto()">Add New Paper</button>  
                </div>
            </div>
        </div>
        <div class="col-sm-7 column4">
                    <div class="search">
                    <input class="form-control mb-4" id="tableSearch" type="text"
                            placeholder="Type something to search list items">
                    </div>
            <div class="table-responsive" >
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>Subject Name</th>
                        <th *ngIf="ishide2">Choose Question</th>
                        <th *ngIf="isshow">Edit</th>
                        <th *ngIf="isshow">Delete</th>
                    </tr>
                    </thead>
                    <tbody id="myTable" >
                    <tr *ngFor="let p of post">
                        <td>{{p.examsubject}}<input type="hidden" #subnameInput value="{{p.examsubject}}"><input type="hidden" #examinerInput value="{{p.examiner}}"></td>
                        <td *ngIf="ishide2"><button class="btn btn-primary" (click)="showtext(subnameInput.value,examinerInput.value)">Open</button></td>
                        <td *ngIf="isshow"><button type="submit" class="btn btn-success"  (click)="edittext(subnameInput.value,examinerInput.value)">Edit</button></td>
                        <td *ngIf="isshow"><button type="submit" class="btn btn-danger" (click)="dlttext(subnameInput.value,examinerInput.value)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>