<div class="one">
    <div class="toggle">
        <div class="menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        
    </div>
    <ul id="myflex" class="nav">
        <li class ="navlink" routerLink="/">home</li>
       <li class ="navlink" routerLink="/about">About</li>
       <li class ="navlink" routerLink="/contact">Contact</li>
       <li class ="navlink" routerLink="/course" >Create Test
            <!-- <ul class="navis">
                <li class="naviss" class ="navlink" routerLink="/js">javascript</li>
                <li class="naviss" class ="navlink" routerLink="/html">HTML</li>
                <li class="naviss" class ="navlink" routerLink="/css">CSS</li>
            </ul> -->
       </li>
       <li class ="navlink" routerLink="jointest">Join Test</li>
       <li class="active navlink"  data-toggle="modal" data-target="#myModal">login</li>
       <li class ="navlink" routerLink="/account">Register</li>
    </ul>
</div>
 
<app-login></app-login>
